[Desktop Entry]
Type=Application
Version=1.1
Name=Blinky
GenericName=SiPix Blink II Camera Utility
Comment=Download photos from a SiPix StyleCam Blink II camera
Exec=blinky-gui
Icon=blinky
Terminal=false
StartupNotify=true
Categories=Graphics;Photography;
Keywords=camera;sipix;blink;photo;usb;download;
